In [6]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password =""
)
mycursor = mydb.cursor()
mycursor.execute("Show databases")
for i in mycursor:
    print(i)

('hibernatedb',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('projectspring4pmdb',)
('test',)

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE students(name VARCHAR(250), age INTEGER(10))")

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for db in mycursor:
    print(db)

('students',)

In [23]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
yr_cur = yr_db.cursor()
yr_cur.execute("CREATE DATABASE laptop")

In [27]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("CREATE TABLE desktop(d_id INTEGER(10), name VARCHAR(250), address VARCHAR(250))")

In [28]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("SHOW TABLES")
for yr in yr_cur:
    print(yr)

('desktop',)

In [ ]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()

sql = "INSERT INTO desktop (name, address,d_id) VALUES(%s, %s, %s)"
std1 =[("Rajesh", "Japan",123),
       ("Roshan", "Korea",122),
       ("Paragash", "Saudi",124),
       ("Sundar", "Dubai",133),
       ("Devendra", "Nepal",223)]

yr_cur.executemany(sql, std1)#executemany()-->To insert multiple rows into a table, use the  executemany() method. 
#The second parameter of the executemany() mehtod is a list of tuples, conataining the data your want to insert.

yr_db.commit()#yr_db.commit()-->It is required to make the changes, otherwise no changes are made to the table.

print(mycursor.rowcount, "Inserted data sucessful.....")

In [55]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("SELECT name FROM desktop")
yr_rt = yr_cur.fetchall()#Which fetches all rows from the last executed statement.

for rt in yr_rt:
    print(rt)

('Rajesh',)
('Rajesh',)
('Rajesh',)
('Rajesh',)
('Rajesh',)
('Roshan',)
('Paragash',)
('Sundar',)
('Devendra',)
('Rajesh',)
('Roshan',)
('Paragash',)
('Sundar',)
('Devendra',)
('Rajesh',)
('Roshan',)
('Paragash',)
('Sundar',)
('Devendra',)

In [56]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("SELECT* FROM desktop")
yr_rt = yr_cur.fetchall()
for i in yr_rt:
    print(i)

(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(122, 'Roshan', 'Korea')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')
(223, 'Devendra', 'Nepal')
(123, 'Rajesh', 'Japan')
(122, 'Roshan', 'Korea')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')
(223, 'Devendra', 'Nepal')
(123, 'Rajesh', 'Japan')
(122, 'Roshan', 'Korea')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')
(223, 'Devendra', 'Nepal')

In [64]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
sql = "SELECT* FROM desktop WHERE d_id=223"

yr_cur.execute(sql)
yr_rt = yr_cur.fetchall()

for row in yr_rt:
    print(row)

(223, 'Devendra', 'Nepal')
(223, 'Devendra', 'Nepal')
(223, 'Devendra', 'Nepal')

In [66]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("SELECT* FROM desktop where d_id=223")

yr_rt = yr_cur.fetchone()#Only interested in one row, and return the first row of the result default value.

for yr in yr_rt:
    print(yr)

223
Devendra
Nepal

In [70]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()

yr_cur.execute("SELECT* FROM desktop where name LIKE '%e%'") #%--> Select the records that starts, includes or ends with a given letter or phrase.
# Use the % to represetn wildcard characters.

yr_rt= yr_cur.fetchall()

for i in yr_rt:
    print(i)

(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(223, 'Devendra', 'Nepal')
(123, 'Rajesh', 'Japan')
(223, 'Devendra', 'Nepal')
(123, 'Rajesh', 'Japan')
(223, 'Devendra', 'Nepal')

In [73]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()

sql = "SELECT* FROM desktop WHERE  name = %s"

dd = ("Rajesh", )

yr_cur.execute(sql, dd)

yr_rst = yr_cur.fetchall()

for i in yr_rst:
    print(i)

(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')

In [82]:
#ORDER BY--> This statement to sort the result in ascending or descending order. The result ascending by default.TO Use DESC Keyword.
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)

yr_cur = yr_db.cursor()

yr_cur.execute("SELECt* FROM desktop ORDER BY name ")

result = yr_cur.fetchall()

for i in result:
    print(i)

(223, 'Devendra', 'Nepal')
(223, 'Devendra', 'Nepal')
(223, 'Devendra', 'Nepal')
(124, 'Paragash', 'Saudi')
(124, 'Paragash', 'Saudi')
(124, 'Paragash', 'Saudi')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(122, 'Roshan', 'Korea')
(122, 'Roshan', 'Korea')
(122, 'Roshan', 'Korea')
(133, 'Sundar', 'Dubai')
(133, 'Sundar', 'Dubai')
(133, 'Sundar', 'Dubai')

In [83]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)

yr_cur = yr_db.cursor()

yr_cur.execute("SELECt* FROM desktop ORDER BY name DESC")

result = yr_cur.fetchall()

for i in result:
    print(i)

(133, 'Sundar', 'Dubai')
(133, 'Sundar', 'Dubai')
(133, 'Sundar', 'Dubai')
(122, 'Roshan', 'Korea')
(122, 'Roshan', 'Korea')
(122, 'Roshan', 'Korea')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(124, 'Paragash', 'Saudi')
(124, 'Paragash', 'Saudi')
(124, 'Paragash', 'Saudi')
(223, 'Devendra', 'Nepal')
(223, 'Devendra', 'Nepal')
(223, 'Devendra', 'Nepal')

In [89]:
#Delete 
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yrcur = mydb.cursor()

# sql = "DELETE * FROM desktop WHERE d_id = "

yrcur.execute( "DELETE FROM desktop WHERE d_id =223")

mydb.commit()

print(yrcur.rowcount, "Delete successfull.....")

3 Delete successfull.....

In [98]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yrcur = mydb.cursor()

yrcur.execute("SHOW TABLES")


for i in yrcur:
    print(i)

('desktop',)

In [110]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yrcur = mydb.cursor()

yrcur.execute("SELECT* FROM desktop where name LIKE '%a%'")
result = yrcur.fetchall()
for i in result:
    print(i)

(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')
(123, 'Rajesh', 'Japan')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')
(123, 'Rajesh', 'Japan')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')

In [109]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
mycursor = mydb.cursor()

sql = "DELETE FROM desktop WHERE name=%s"
var = ("Roshan", )
mycursor.execute(sql, var)

mydb.commit()

print( "Deleted successfully....")

Deleted successfully....

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
mycursor = mydb.cursor()

 
mycursor.execute("DROP TABLE desktop")

for i in mycursor:
    print(i,"Successfully drop the tables.....")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
mycursor = mydb.cursor()

 
mycursor.execute("DROP TABLE IF EXISTS desktop")
#IF EXISTS-->If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.'''#

for i in mycursor:
    print(i,"Successfully drop the tables.....")

In [ ]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
yr_cur = yr_db.cursor()

sql = "INSERT INTO students(name, address,d_id) VALUES(%s, %s, %s)"
std1 =[("Rajesh", "Japan",123),
       ("Roshan", "Korea",122),
       ("Paragash", "Saudi",124),
       ("Sundar", "Dubai",133),
       ("Devendra", "Nepal",223)]

yr_cur.executemany(sql, std1)#executemany()-->To insert multiple rows into a table, use the  executemany() method. 
#The second parameter of the executemany() mehtod is a list of tuples, conataining the data your want to insert.

yr_db.commit()#yr_db.commit()-->It is required to make the changes, otherwise no changes are made to the table.

print(mycursor.rowcount, "Inserted data sucessful.....")