In [10]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
mycur = mydb.cursor()
mycur.execute("CREATE TABLE chotadon (name VARCHAR(250), age INTEGER(10))")

ProgrammingError: 1050 (42S01): Table 'chotadon' already exists

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
mycur = mydb.cursor()
mycur.execute("SHOW TABLES")
for i in mycur:
    print(i)

('chotadon',)

In [16]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
yr_cur = yr_db.cursor()

sql = "INSERT INTO chotadon (name, age) VALUES(%s, %s)"
std1 =[("Rajesh", 18),
       ("Roshan", 22),
       ("Paragash", 21),
       ("Sundar", 20),
       ("Devendra", 22)]

yr_cur.executemany(sql, std1)#executemany()-->To insert multiple rows into a table, use the  executemany() method. 
#The second parameter of the executemany() mehtod is a list of tuples, conataining the data your want to insert.

yr_db.commit()#yr_db.commit()-->It is required to make the changes, otherwise no changes are made to the table.

print(yr_cur.rowcount, "Inserted data sucessful.....")

5 Inserted data sucessful.....

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
mycur = mydb.cursor()

sql = "UPDATE chotadon SET age = 25 WHERE age = 22"

mycur.execute(sql)

mydb.commit()

print(mycur.rowcount, "Sucessfully updated.....")

2 Sucessfully updated.....

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
mycur = mydb.cursor()

sql = "UPDATE chotadon SET age = %s WHERE age =%s"
val = (24, 25)

mycur.execute(sql, val)

mydb.commit()

print(mycur.rowcount, "Sucessfully updated.....")

2 Sucessfully updated.....

In [21]:
#You can limit the number of records returned from the query, by using the "LIMIT" statement
import mysql.connector as mc

db = mc.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
cur = db.cursor()

cur.execute("SELECT* FROM chotadon LIMIT 4")

result = cur.fetchall()

for i in result:
    print(i)

('Rajesh', 18)
('Roshan', 24)
('Paragash', 21)
('Sundar', 20)

In [26]:
#Start from position 3, and return 5 records use "OFFSET"
import mysql.connector as mc

db = mc.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
cur = db.cursor()

cur.execute("SELECT* FROM chotadon LIMIT 5 OFFSET 0")

result = cur.fetchall()

for i in result:
    print(i)

('Rajesh', 18)
('Roshan', 24)
('Paragash', 21)
('Sundar', 20)
('Devendra', 24)

In [27]:
import mysql.connector as mc

db = mc.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
cur = db.cursor()

cur.execute("SELECT* FROM chotadon LIMIT 5 OFFSEt 2")

result = cur.fetchall()

for i in result:
    print(i)

('Paragash', 21)
('Sundar', 20)
('Devendra', 24)