In [6]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password =""
)
mycursor = mydb.cursor()
mycursor.execute("Show databases")
for i in mycursor:
    print(i)

('hibernatedb',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('projectspring4pmdb',)
('test',)

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE students(name VARCHAR(250), age INTEGER(10))")

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for db in mycursor:
    print(db)

('students',)

In [23]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
yr_cur = yr_db.cursor()
yr_cur.execute("CREATE DATABASE laptop")

In [27]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("CREATE TABLE desktop(d_id INTEGER(10), name VARCHAR(250), address VARCHAR(250))")

In [28]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("SHOW TABLES")
for yr in yr_cur:
    print(yr)

('desktop',)

In [52]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()

sql = "INSERT INTO desktop (name, address,d_id) VALUES(%s, %s, %s)"
std1 =[("Rajesh", "Japan",123),
       ("Roshan", "Korea",122),
       ("Paragash", "Saudi",124),
       ("Sundar", "Dubai",133),
       ("Devendra", "Nepal",223)]

yr_cur.executemany(sql, std1)#executemany()-->To insert multiple rows into a table, use the  executemany() method. 
#The second parameter of the executemany() mehtod is a list of tuples, conataining the data your want to insert.

yr_db.commit()#yr_db.commit()-->It is required to make the changes, otherwise no changes are made to the table.

print(mycursor.rowcount, "Inserted data sucessful.....")

1 Inserted data sucessful.....

In [55]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("SELECT name FROM desktop")
yr_rt = yr_cur.fetchall()

for rt in yr_rt:
    print(rt)

('Rajesh',)
('Rajesh',)
('Rajesh',)
('Rajesh',)
('Rajesh',)
('Roshan',)
('Paragash',)
('Sundar',)
('Devendra',)
('Rajesh',)
('Roshan',)
('Paragash',)
('Sundar',)
('Devendra',)
('Rajesh',)
('Roshan',)
('Paragash',)
('Sundar',)
('Devendra',)

In [56]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
yr_cur.execute("SELECT* FROM desktop")
yr_rt = yr_cur.fetchall()
for i in yr_rt:
    print(i)

(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(None, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(123, 'Rajesh', 'Japan')
(122, 'Roshan', 'Korea')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')
(223, 'Devendra', 'Nepal')
(123, 'Rajesh', 'Japan')
(122, 'Roshan', 'Korea')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')
(223, 'Devendra', 'Nepal')
(123, 'Rajesh', 'Japan')
(122, 'Roshan', 'Korea')
(124, 'Paragash', 'Saudi')
(133, 'Sundar', 'Dubai')
(223, 'Devendra', 'Nepal')

In [64]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()
sql = "SELECT* FROM desktop WHERE d_id=223"

yr_cur.execute(sql)
yr_rt = yr_cur.fetchall()

for row in yr_rt:
    print(row)

(223, 'Devendra', 'Nepal')
(223, 'Devendra', 'Nepal')
(223, 'Devendra', 'Nepal')

In [ ]:
import mysql.connector

yr_db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="laptop"
)
yr_cur = yr_db.cursor()